.timezone-picker {
  &-placeholder-icon {
    margin-right: 5px;
  }

  .horizontal-justify {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-menu-item {
    .horizontal-justify;
  }

  &-extra-footer {
    .horizontal-justify;

    padding: 10px;
    border-top: 1px solid @border-base-color;
  }
}
